header {
    background-color: black;
    padding: 15px;
    position: sticky;
    top: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1;

    h1 {
        height: auto;
        display: block;
        padding: 0;
        color: white;

        span {
            color: rgb(215, 24, 24);
            font-style: italic;
            font-size: larger;
        }

    }

    nav {
        
        background-color: black;
        ul {
            list-style: none;
            display: flex;

            li {
                
                display: inline-block;
                margin: 5px 10px 5px 10px;

                &:first-letter {
                    color: rgb(215, 24, 24);
                    font-style: italic;
                    font-size: larger;
                }

                



                a {
                    &:hover {
                        background-color: darkblue;
                        color: black;
                    }
                    text-decoration: none;
                    color: beige;

                }
            }
        }

    }
}