$color-primario: blue;
$color-secundario: beige;
$color-terciario: black;




$colores:
aliceblue,
whitesmoke,
lightcoral,
lightblue;





@mixin flex ($flex, $flex-dir, $align){
    display: $flex;
    flex-direction: $flex-dir;
    align-items: $align;
}

%map{
    flex: 1;
}

%resaltar{
    background-color: white;
}
